@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button: #111827;
  --container: #acb1ba;
  --nestedContainer: #474c54;
}

@theme inline {
--color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --button: #F4F4F4;
    --container: #111827;
    --nestedContainer: #1f2937;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Remove autofill background highlight */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--container) inset !important;
  box-shadow: 0 0 0px 1000px var(--container) inset !important;
  -webkit-text-fill-color: var(--foreground) !important; /* change to your desired text color */
  transition: background-color 5000s ease-in-out 0s; /* prevents flicker */
}
